In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 載入資料集

In [2]:
# Load in the train datasets
train = pd.read_csv('Data/train.csv')
test = pd.read_csv('Data/test.csv')

### 觀看個資料格式
可以得知目的是用多個特徵進行分類，輸出結果為每筆資料對應的類別，特徵包含文字

In [3]:
print(train.shape)
train.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

# Data clean - 缺值處理

In [5]:
train.isnull().sum().sort_values(ascending=False).head(8)

PoolQC         1453
MiscFeature    1406
Alley          1369
Fence          1179
FireplaceQu     690
LotFrontage     259
GarageCond       81
GarageType       81
dtype: int64

In [6]:
drop_feature = 0.2 #缺值超過比例則丟棄
train = train.dropna(thresh=drop_feature*train.shape[0],axis=1)
train.shape

(0, 81)

In [7]:
train.isnull().sum().sort_values(ascending=False).head(8)

SalePrice      0
Heating        0
RoofStyle      0
RoofMatl       0
Exterior1st    0
Exterior2nd    0
MasVnrType     0
MasVnrArea     0
dtype: int64

In [ ]:
#捨棄特徵
train_d = train
for i in range(train.shape[1]):
    if feature_miss[i]:
        train_d = train_d.drop(columns=[feature_miss.keys()[i]])
train_d.isnull().sum().sort_values(ascending=False).head(8)

In [ ]:
#觀看資料缺失狀況
num_na_data = pd.DataFrame({ 'num': [train_d.isnull()[i:i+1].sum().sum() for i in range(len(train_d))] })
num_na_data['num'].value_counts()

In [ ]:
#捨棄資料
for i in range(len(num_na_data)):
    if num_na_data.values[i] > 9:
        train_d = train_d.drop([i,i+1])

In [ ]:
#觀看資料缺失狀況
#num_na_data = pd.DataFrame({ 'num': [train_d.isnull()[i:i+1].sum().sum() for i in range(len(train_d))] })
#num_na_data['num'].value_counts()

In [ ]:
#更新遺失特徵的數量
feature_miss = train_d.isnull().sum().sort_values(ascending=False)
feature_miss.head(8)

In [ ]:
#將空值補眾數
#feature_miss.shape[0] #特徵數量
#feature_miss.keys()[0] #名稱
#feature_miss.values[0] #數量

for i in range(feature_miss.shape[0]):
    if feature_miss.values[i] > 0:
        train_d[[feature_miss.keys()[i]]] = train_d[[feature_miss.keys()[i]]].fillna(train_d[feature_miss.keys()[i]].mode()[0])

#train_d[['LotFrontage']] = train_d[['LotFrontage']].fillna(train_d['LotFrontage'].mode()[0])

In [ ]:
#補完所有空直
train_d.isnull().sum().sort_values(ascending=False).head(8)

In [ ]:
train_d.head(3)

In [ ]:
for i in range(feature_miss.shape[0]):
    if isinstance(train_d.values[0,i], str): #type是str時 one-hot-encoder
        df = pd.get_dummies(train_d.values[:,i])
        for key in df.keys():
            df.rename(index=str, columns={key: key+str(i)})
        train_d = pd.concat([train_d, df], axis=1, sort=False)
        df.iloc[0:0]

In [ ]:
train_d.head(3)

In [ ]:
train_d = train_d.dropna(axis=1)

In [ ]:
train_d.head(3)

In [ ]:
i = 0
while i < feature_miss.shape[0]:
    if isinstance(train_d.values[0,i], str): #type是str時 one-hot-encoder
        train_d = train_d.drop(columns=[train_d.keys()[i]])
    else:
        i = i + 1;

In [ ]:
train_d.head(3)

In [ ]:
#補完所有空直
train_d.isnull().sum().sort_values(ascending=False).head(3)

In [ ]:
train_d['MSSubClass']

In [ ]:
#畫出各維度相關性
#from pandas.plotting import scatter_matrix
#scatter_matrix( train[['MSSubClass','LotFrontage','YearBuilt','OverallQual']],figsize=(10, 10),color='b')

# 分析相關係數
得知除了花萼寬度外其他的相關性都很高

In [ ]:
#corr = train.corr()
#print(corr)

In [ ]:
#視覺化呈現
#import seaborn as sns
#plt.rcParams['font.family']='DFKai-SB' #顯示中文
#plt.figure(figsize=(10,10))
#sns.heatmap(corr, square=True, annot=True, cmap="RdBu_r") #center=0, cmap="YlGnBu"

# 分析離群直
花萼寬度有離群直
http://blog.xuite.net/jillrong/Rlanguage/159045996-%E6%89%BE%E5%87%BAoutlier%28s%29%2F%E9%9B%A2%E7%BE%A4%E5%80%BC%2F%E6%A5%B5%E7%AB%AF%E5%80%BC-+cont.
3. Boxplot
   盒子中間水平線為median
   盒子兩端，下水平線Q1為25 quartile，上水平線Q3為75 quartile，
   interquartile range (IQR) = Q3 − Q1
   盒子兩端延伸出去的虛線是Q1 − 1.5 x IQR 或 Q3 + 1.5 x IQR
   至於outlier是指在 boxplot 中各別顯示的點，
   落在Q1 − 1.5 x IQR 下方 或 高於 Q3 + 1.5 x IQR 上方

In [ ]:
#fig, axes = plt.subplots(nrows=2, ncols=4, figsize=(10, 10), sharey=True)

#axes[0, 0].boxplot(train['花萼寬度'],showmeans=True)
#axes[0, 0].set_title('訓:花萼寬度')

In [ ]:
#IQR = Q3-Q1
#IQR = np.percentile(train['花萼寬度'],75) - np.percentile(train['花萼寬度'],25)

In [ ]:
#outlier = Q3 + 1.5*IQR , or. Q1 - 1.5*IQR
#train[train['花萼寬度'] > np.percentile(train['花萼寬度'],75)+1.5*IQR]

In [ ]:
#outlier = Q3 + 1.5*IQR , or. Q1 - 1.5*IQR
#train[train['花萼寬度'] < np.percentile(train['花萼寬度'],25)-1.5*IQR]

# 實際進行分類

## 分割資料+正規化

In [ ]:
from sklearn.model_selection import train_test_split
X = train_d
y = train_d['SalePrice']
X = X.drop(columns=['SalePrice'])
X = X.values.tolist()
y = y.values

# 所有資料一起正規化
#from sklearn import preprocessing
#tmp = X.append(test[['花瓣寬度','花瓣長度','花萼寬度','花萼長度']])
#tmp = preprocessing.scale(tmp, axis=0)
#X = tmp[0:120]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=100)

In [ ]:
type(X_train)

In [ ]:
type(y_train)

# 訂定分類模型SVM
C是模型的複雜度越小越複雜、
linear是只線性的svm分類器

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression(normalize=True)

In [ ]:
model.fit(X_train,y_train)

In [ ]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression
model = LinearRegression(normalize=True)
model.fit(X_train,y_train)

print(metrics.classification_report(y_test, model.predict(X_test)))
print(metrics.confusion_matrix(y_test, model.predict(X_test)))

In [ ]:
pred = svc.predict(tmp[120:150])

In [ ]:
submission.id
pred
pd.DataFrame({ 'id': submission.id, 'type':pred })
StackingSubmission = pd.DataFrame({ 'id': submission.id, 'type': pred })
StackingSubmission.to_csv("Data/submission.csv", index=False)

In [ ]:
submission = pd.read_csv('Data/submission.csv', encoding = "utf-8", dtype = {'type': np.int32})
submission